@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAdmin";
}
@model CRM.WEB.Models.Entyties.Сlassroom
<h1>Изменить даннные Аудитории</h1>
@if (Model is null)
{
    <p>Нет такой Аудитории</p>
}
else
{
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Id</label>
            <input required type="text" class="form-control" asp-for="Id" readonly />
        </div>
        <div class="mt-3">
            <label class="form-label">Номер</label>
            <input required type="number" class="form-control" asp-for="Number" />
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Classroom">Удалить</button>
        </div>
    </form>
}