@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CRM.WEB.Models.Entyties.Student>
<h1>Студенты</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Фио</th>
            <th>Почта</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FIO</td>
                <td>@student.Email</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">
                        Изменить
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success btn-block" asp-controller="Students" asp-action="Add">Добавить</a>