@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAdmin";
}
@model IEnumerable<CRM.WEB.Models.TeacherDetailView>
<h1>Преподаватели</h1>

<input id="myInput" type="text" placeholder="Поиск..." />
<table id="myTable" class="table">
    <thead class="header">
        <tr>
            <th>Id</th>
            <th>ФИО</th>
            <th>
                <a class="btn btn-success btn-block" asp-controller="Teachers" asp-action="Add">Добавить</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.teacher.Id</td>
                <td>@teacher.teacher.Name</td>
                <td>
                    <form asp-action="Delete" asp-controller="Teachers" asp-route-id="@teacher.teacher.Id">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-warning" asp-controller="Teachers" asp-action="Add" asp-route-id="@teacher.teacher.Id">Изменить</a>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css " integrity="sha512-
KfkfwYDsLklIwQp6LFnl8zNdLGxu9YAA1QvwlNks4PhcEIQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
      referrerpolicy="no-referrer" />
<script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js "></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger
        $("#myInput").on("keyup", function () {
            debugger
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>